.SingleCategoryRateAndGift{
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.SingleCategoryRateAndGift svg{
    width: 55%;
    height: 55%;
}

.SingleCategoryRateAndGift:hover{
    background-color: #00c0c3;
    border-radius: 30px;
}
.SingleCategoryRateAndGift:hover > svg > path.cls-1 {
    fill: white;
}
.SingleCategoryRateAndGift:hover > svg > path.cls-5{
    fill: white !important;
}

@media(max-width: 991px){
    .CardView{
        background-color: #e7e7e7;
        border-radius: 10px;
        padding: 1rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        letter-spacing: 0.02rem;
        align-items: center;
    }
    .CardView h4{
        height: 1.5rem;
    }
}
@media(min-width: 992px){
    .CardView{
        background-color: #e7e7e7;
        border-radius: 10px;
        padding: 1rem 1.5rem;
        width: 15.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        letter-spacing: 0.02rem;
        align-items: center;
    }
    .CardView h4{
        height: 3rem;
    }
}