
.bg-BookOfTheWeekSecondSingle {
    background-color: white;
    height: 12rem !important;
    min-height: 12rem !important;
    box-shadow: 0 0 5px 3px #f5f5f5;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.bg-BookOfTheWeekSecondSingle:hover {
    background-color: #00c0c3;
    transition: 0.3s;
}

.bg-BookOfTheWeekSecondSingle:hover div h5 {
    color: #ffffff;
}

.bg-BookOfTheWeekSecondSingle:hover div p {
    color: #ffffff;
}

.bg-BookOfTheWeekSecondSingle:hover .bg-Points {
    background-color: #ffffff;
    color: #00c0c3;
}

.title-BookOfTheWeekSecondSingle {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0ec3c6;
    min-height: 3.5rem;
    overflow: hidden;
}

.text-BookOfTheWeekSecondSingle {
    font-size: 13px;
    color: #666666d9;
    letter-spacing: 1px;
    min-height: 3.25rem;
    overflow: hidden;
    line-height: 1.15rem;
}

.bg-Points {
    background-color: #00c0c3;
    color: #fcfcfcd9;
    font-size: 13px;
    border-radius: 0.20rem;
}
.width {
    width: 6rem ;
}
