.ant-modal-close {
    display: none;
}

.modal .ant-modal-footer {
    text-align: left;
    border-top: none;
}

.modal .ant-modal-content {
    background-color: #f7f9f8 !important;
}

.text-Or {
    color: #676767;
    font-size: 16px;
}

.signIn-ButtonTop {
    font-size: 13px;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    color: #838383 !important;
    letter-spacing: 1px;
    background-color: #f7f9f8 !important;
}

.signIn-ButtonTop:focus{
   font-weight: normal !important;
}

.signIn-ButtonTop.ant-btn:focus, .ant-btn.active {
    font-weight: normal !important;
    color: #808080 !important;
    background-color: #e8e8e8 !important;
}

.signIn-ButtonDown.ant-btn {
    width: 7rem !important;
    height: 3rem !important;
    background-color: #00c0c3 !important;
    color: #ffffff !important;
    border-color: #00c0c3 !important;
    letter-spacing: 1px;
    border-radius: 2rem !important;
}

.ForgotPassword {
    color: #02bfc3;
    font-size: 0.75rem;
    font-weight: 500;
}

