.SearchPageMenu {
    border: none !important;
}

.SearchPageMenuOption {
    display: flex !important;
    align-items: center !important;
    font-size: 0.80rem !important;
    color: #4e4e4e !important;
    height: 2rem;
    min-width: 8rem;
}

.SearchPageMenuOption div {
    top: 35% !important;
}

.SearchPageInput {
    background-color: #e7e7e7 !important;
    height: 2.5rem !important;
    border: none !important;
}

.SearchPageInput::placeholder {
    color: #4e4e4e !important;
    border-bottom: 1px solid #cccccc !important;
    font-size: 0.80rem !important;
    letter-spacing: 1px;
}

.SearchPageButton {
    background-color: #00c0c3 !important;
    color: #ffffff !important;
    width: 15rem !important;
    height: 3.5rem !important;
    border-radius: 1.75rem !important;
    font-size: 1.1rem !important;
}

.paddingX {
    padding: 2rem 7rem 0 7rem;
}
