.Header {
    width: 100vw;
    min-height: 4.25rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #00c0c3;
    z-index: 10 !important;
}
.Header .menu-lg-flex .ant-menu-submenu-selected,
.Header .menu-lg-flex .ant-menu-submenu-active{
    color: #fff !important;
    border: none !important;
}

.Header-menu {
    font-family: Century Gothic !important;
    background: transparent !important;
    color: #ffffff !important;
}

.Header-menu a {
    color: #ffffffdf !important;
}

.Header-menu a:hover {
    color: #007276 !important;
    text-shadow: 0 0 1px #007276;
}

.Header-menu .ant-menu-item {
    font-size: .83rem !important;
    font-weight: bold !important;
}
.Header-menu a{
    color: #ffffff !important;
}
.Header-menu,
.Header-menu .ant-menu-item,
.Header-menu .ant-menu-item:hover,
.Header-menu .ant-menu-item-selected,
.Header-menu .ant-menu-item-active {
    border: none !important;
}

.Header-menu .ant-menu-item-selected a,
.Header-menu .ant-menu-item-active a,
.Header-menu .ant-menu-item:hover a{
    color: #016064 !important;
}

.Header-menu.login-header:hover {
    color: #016064 !important;
}
    .Header-menu.login-header {
        background-color: transparent !important;
        padding: 0 20px !important;
        font-size: .82rem !important;
    }
.Header-menu.login-header .ant-menu-item.ant-menu-item-selected:hover {
    background-color: #ffffff !important;
    color: #007276 !important;
}

.background-login.ant-btn:focus {
    color: #ffffffdf !important;
    background-color: transparent !important;
}
.dir-rtl .btn-header-submit{
    flex-direction: row-reverse;
}
.btn-header-submit {
    font-size: .75rem !important;
    color: #ffffff ;
    width: 8.2rem;
    padding: 4px 15px !important;
    background: #016064;
    font-weight: bold !important;
}
.btn-header-submit:hover {
    font-size: .75rem;
    color: #016064;
    width: 8.2rem;
    padding: 4px 15px;
    background: #ffffff;
}

.btn-header-submit > div {
    width: .65rem;
    height: 22px !important;
}

.btn-header-submit:hover path {
    fill: #016064 !important;
}
.btn-header-submit path {
    fill: #fff !important;
}

.lang-Header-icon {
    width: .58rem;
}
.lang-Header-icon polygon{
    fill: #fff
}

.lang-Header-icon > svg {
    position: absolute;
}
ul.ant-menu.ant-menu-sub.ant-menu-vertical {
    max-height: 100vh !important;
    overflow-y: auto !important;
    padding-bottom: 3rem !important;
}
.avatar-user{
    transition: 0.5s all;
}
.avatar-user:hover{
    box-shadow: 0 0 30px 5px #fff;
}
