.ParentImage-BookOfTheWeek{
    overflow: hidden;
    border-radius: 0 0.5rem 0.5rem 0;
}

.title-BookOfTheWeek {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0ec3c6;
}

.name-BookOfTheWeek {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}

.Author-BookOfTheWeek {
    font-size: 13.5px;
    color: #666666d9;
}

.text-BookOfTheWee {
    min-height: 12rem;
    max-height: 12rem;
    font-size: 14px;
    color: #666666d9;
    letter-spacing: 1px;
    overflow: hidden;
    line-height: 1.5rem;
}

.count-BookOfTheWee {
    font-size: 10px;
    color: #808080;
}
