.FilterSelectsModeClass{
    border-radius: 4px;
    margin:.7rem 0;
    padding:.5rem 0
}
.InputCheckBoxItemsClass>label{
    font-size: .75rem;
    color: #1d2124;
}
.InputCheckBoxItemsClass{
    min-width: 5rem;
}
.InputCheckBoxItemsClass > input {
    width: .5rem;
    height: .5rem;
}
.InputCheckBoxItemsClass > input:before {
    content: "";
    display: block;
    position: absolute;
    width: .56rem;
    height: .56rem;
    top: 0;
    left: 0;
    border: 1px solid #a3a3a3;
    border-radius: 1px;
    background-color: white;
}
.InputCheckBoxItemsClass > input:checked:before {
    background-color: #00c0c3;
    border: 1px solid #00c0c3;
}
.InputCheckBoxItemsClass > input:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border: solid #ffffffcf;
    border-width: 0 .07rem .07rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top:.04rem;
    left:3px;
}
.search-modeClass input{
    border-bottom: 2px solid #00c0c3 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
}
.search-modeClass input::placeholder{
    color: #00c0c3 !important;
    letter-spacing: 2px;
    font-size: .75rem;
}
.search-modeClass input:focus{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.search-modeClass i{
    transform: rotate(90deg);
    color: #00c0c3;
}