.TableSubject th{
    color: #00c0c3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.78rem;
    letter-spacing: 1.5px;
}
.dir-ltr .TableSubject th{
    padding-left: 2.7rem;
}
.dir-rtl .TableSubject th{
    padding-right: 2.7rem;
}

.TableSubject td{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.TableSubject td h4{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dir-ltr .TableSubject td{
    padding-left: 2.7rem;
}
.dir-rtl .TableSubject td{
    padding-right: 2.7rem;
}

.TableSubject > a > tr{
    background-color: #e7e7e7;
    border-radius: 10px;
    display: flex;
    margin-bottom: 1.5rem;
    padding: 0.65rem 0rem;
    color: black;

}
.TableSubject > tr:first-of-type{
    background-color: transparent;
    display: flex;
    margin-bottom: 0.8rem;
}
.RateSubject{
    background-color: #00c0c1;
    margin: 0;
    color: white;
    width: 2.5rem;
    height: 1.1rem;
    border-radius: 3px;
    font-size: 0.82rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 426px) {
    .dir-ltr .TableSubject td{
        padding-left: 0;
        width: 15% !important;
    }
    .dir-ltr .TableSubject td:first-of-type{
        padding-left: 0.7rem;
        width: 35% !important;
    }
    .dir-rtl .TableSubject td:first-of-type{
        padding-right: 0.7rem;
        width: 35% !important;
    }
    .dir-rtl .TableSubject td{
        padding-right: 0;
        padding-left: 0;
        width: 15% !important;
    }

    .dir-ltr .TableSubject th{
        padding-left:0;
        width: 20% !important;
    }
    .dir-rtl .TableSubject th:first-of-type{
        padding-right: 0.7rem;
        width: 35% !important;
    }
    .dir-ltr .TableSubject th:first-of-type{
        padding-right: 0.7rem;
        width: 35% !important;
    }
    .dir-rtl .TableSubject th{
        padding-right: 0;
        width: 20% !important;
    }
}