
.BorderSoundPlayerPale{
   border: 1.5px solid rgba(0,0,0,0.3);
    border-radius: 8px;
}

.BorderSoundPlayerBold{
    border: 1.5px solid rgba(0,0,0,0.7);
    border-radius: 8px 8px 8px 8px ;
}

.react-h5-audio-player{
    width: 35rem;
}
.react-h5-audio-player > div {
    padding: 8px 15px !important;
    height: 58px !important;
    border-radius: 8px;
}

.ListSound > div{
    margin-bottom: 0.5rem;
}

.ListSound > div:last-of-type {
    margin-bottom: 0;
}

.progress-bar-wrapper{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dir-rtl .progress-bar-wrapper{
    flex-direction: row-reverse !important;
}
.indicator {
    top: 3% !important;
}
.audio-info{
    margin-right: 5px;
    margin-left: 5px;
}
.dir-rtl .toggle-play-button{
    border-radius: 20% !important;
    background-color: #00c0c3 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0 !important;
}
.dir-ltr .toggle-play-button{
    border-radius: 20% !important;
    background-color: #00c0c3 !important;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
}

.dir-rtl .toggle-play-button .pause-icon{
    left: 0 !important;
   box-shadow: #00c0c3 7px 0 0 0 inset !important;
}
.dir-rtl .toggle-play-button .play-icon{
    left: 3px !important;
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 16px solid white !important;
}
.volume-controls{
    display: none;
}