.imageForImageMedia{
    width: 9rem;
    height: 9rem;
    border-radius: 8px;
    cursor: pointer;
}

.imageForImageMedia:hover{
    border: 4px solid #00c0c3;
}

@media(max-width: 991px){
    .imageForImageMedia {
        margin: 0.9rem 1.2rem;
    }
    .dir-rtl .imageForImageMedia:nth-of-type(1),
    .dir-rtl .imageForImageMedia:nth-of-type(2n +1){
        margin-right: 0;
    }
    .dir-rtl .imageForImageMedia:nth-of-type(2n){
        margin-left: 0;
    }

    .dir-ltr .imageForImageMedia:nth-of-type(1),
    .dir-ltr .imageForImageMedia:nth-of-type(2n +1){
        margin-left: 0;
    }
    .dir-ltr .imageForImageMedia:nth-of-type(2n){
        margin-right: 0;
    }
}

@media (min-width: 992px){
    .dir-rtl .imageForImageMedia{
        margin: 0 3.1rem 0 0;
    }

    .dir-ltr .imageForImageMedia{
        margin: 0 0 0 3.1rem;
    }

    .imageForImageMedia:nth-of-type(-n+3) {
        margin-bottom: 3rem;
    }
}
