.Color-bg {
    background-color: #f0f0f0;
    bottom: 0;
    z-index: 5;
}

.AndroidApps {
    color: #16c3c7;
    font-weight: bold;
    font-size: 1.05rem;
    white-space: nowrap;
}

.ImgFooter {
    width: 2rem;
}

.titleFooterLogo {
    color: #757575;
}

.parentImagesFooterTow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 76%;
    height: 10rem;
}

.VirtualIconFooter {
    width: 1.9rem;
}

.VirtualIconFooter path {
    fill: #a8a8a8;
}


.Footer-Menu p:last-child {
    margin-right: -7%;
}

.Footer-Menu p:hover {
    color: #16c3c7;
}

.MoreTop {
    color: #a0a0a0;
    font-weight: bold;
    font-size: 0.75rem;
}

.dir-ltr .MoreTop {
    right: 0;
}

.dir-rtl .MoreTop {
    left: 0;
}

.MoreBottom {
    bottom: 15px;
    right: 70px;
    color: #16c3c7;
    font-weight: bold;
    font-size: 0.9rem;
}

.MoreTop svg {
    font-size: 0.55rem;
}

.hrFooter {
    border: 1px solid #d1d1d1;
    max-width: 100%;
    width: 100%;
}

.AboutContact {
    letter-spacing: 1px;
    color: #9a9a9a;
}

.AboutContact a {
    color: #9a9a9a;
}

.MoreBottom svg {
    font-size: 0.75rem;
}

.TextFooter {
    color: #6e6e6e;
    line-height: 1.5rem;
    text-align: justify;
}

.TitleInputFooter {
    font-weight: bold;
    font-size: 0.85rem;
    color: #686868;
    letter-spacing: 0.05rem;
}

.InputFooter {
    padding: 0.5rem 1.5rem;
    background-color: #cccccc;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 85%;
    letter-spacing: 0.03rem;
}

.buttonFooter {
    width: 2.5rem;
    height: 2.3rem;
}

.buttonFooter svg {
    height: 100% !important;
    width: 100%;
}

.buttonFooter > svg > polyline {
    fill: none !important;
}

.buttonFooter > svg > circle {
    fill: #16c3c7;
}

@media (min-width: 992px) {
    .ColParentText {
        height: 15.1rem;
    }
}

@media (max-width: 991px) {
    .ColParentText {
        height: auto;
    }
}