.pupOverBookRTL .ant-popover .ant-popover-content {
    width: 10rem !important;
    transform: translate3d(30%, -112%, 0) !important;
    border-radius: 0.5rem !important;
}

.ant-popover .ant-popover-content {
    width: 10rem !important;
    transform: translate3d(-120%, -150%, 0) !important;
    border-radius: 0.5rem !important;
}

.ant-popover .ant-popover-arrow {
    top: -4px !important;
}

.ant-popover-inner {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem !important;
}

.title-Book-hover {
    color: #00c0c3;
    font-weight: 500;
    letter-spacing: 1px;
}

.content-Book-hover {
    font-size: 0.80rem;
    color: #016064;
    letter-spacing: 1px;
}

.pupOverBookRTL {
    direction: rtl !important;
}

.pupOverBookLTR {
    direction: ltr !important;
}

.Points-Book-hover {
    display: block;
    text-align: center;
    vertical-align: mathematical;
    background-color: #00c0c3;
    color: #edfbfb;
    width: 2rem;
    height: 1rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
}

.contentLast-Book-hover {
    font-size: 0.70rem;
    color: #4d4d4d;
}

.BookDiv {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    justify-content: center;
}

.BookDiv-Picture {
    width: 7.75rem;
    height: 7rem !important;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.titleBook {
    width: 7.75rem;
    white-space: pre-line;
    height: 3rem;
    overflow: visible;
    text-align: center;
}

/*              popover PersonPage           */

.content-popoverPerson {
    color: #387476;
    font-size: 14px;
}

.ParentDivBook {
    margin: 2rem .5rem;
}

@media (max-width: 992px) {
    .dir-ltr .ParentDivBook {
        margin-right: 1rem;
    }

    .dir-rtl .ParentDivBook {
        margin-left: 1rem;
    }

    .BookDiv {
        width: 140px;
        min-height: 196px;
    }
}

@media (min-width: 992px) {
    .BookDiv {
        width: 7.75rem;
        height: 11.5rem;
    }

    .ScrollBooks {
        height: 18rem !important;
    }
}

@media (min-width: 1400px) {
    .BookDiv {
        width: 150px;
        min-height: 210px;
        height: 210px;
    }

    .ScrollBooks {
        height: 21rem !important;
    }
}

@media (min-width: 1800px) {
    .BookDiv {
        width: 175px;
        min-height: 245px;
        height: 245px;
    }

    .ScrollBooks {
        height: 21rem !important;
    }
}

