.title-PackagePage {
    font-size: 2rem;
    font-weight: bold;
    color: #00c0c4;
    letter-spacing: 2px;
}

.text-PackagePage {
    font-size: 18px;
    color: #646161;
    line-height: 2rem;
    letter-spacing: 2px;
	height: 10rem ;
	overflow: hidden ;
}

.bg-SvgFilter {
    width: 3rem;
    height: 3rem;
    background-color: #00c0c3;
    border-radius: 1.5rem;
}

.SvgFilter {
    width: 21px;
    height: 22px;
}

.SvgFilter path:nth-child(4) {
    fill: #ebf7f8;
}

.SvgFilter path:nth-child(5) {
    fill: #ebf7f8;
}

.SvgFilter path:nth-child(6) {
    fill: #ebf7f8;
}

