.videoDiv {
    width: 17rem;
    height: 9.5rem;
    overflow: hidden;
}

.BGPlayerSvg-Video {
    background-color: #afa9a8;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    opacity: 0.8;
}

.PlayerSvg-Video {
    width: 14px !important;
}

.TitleVideo {
    width: 10rem;
    white-space: pre-line;
}
