.BoxPublisher {
    border-radius: 8px;
    border: 0.1rem solid #dfdfdf;
    padding: 2rem 1.2rem;
}

.parentImageBox {
    width: 6.3rem;
    height: 12rem;
}

.titleBoxPublisher {
    font-size: 1.25rem;
    color: #00c0c2;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.Launched {
    color: #4d4d4d;
}

.LaunchedCount {
    color: #606060;
}

.PublisherScroll > div:nth-of-type(3) {
    background-color: #e0e0e0;
    width: .2rem !important;
}

.PublisherScroll > div:nth-of-type(3) > div {
    background-color: #808080;
}

.job-SingleWriters {
    font-size: 21px;
    font-weight: bold;
    color: #4e4e4e;
}

.dir-rtl .PublisherScroll > div:nth-of-type(3) {
    right: auto !important;
    left: 2px;
}

.dir-rtl .PublisherScroll > div:nth-of-type(1) {
    margin-right: auto !important;
    margin-left: -17px;
}

@media (min-width: 922px) {
    .dir-ltr .ParentTextPublisher > h4 {
        padding-right: 25px;
        letter-spacing: 0.5px;
    }

    .dir-rtl .ParentTextPublisher > h4 {
        padding-left: 25px;
        letter-spacing: 0.5px;
    }

    .PublisherScroll {
        height: 15.8rem !important;
        line-height: 1.45rem;
    }
}

@media (max-width: 921px) {
    .parentImageBox {
        width: 3.3rem !important;
        height: 6rem !important;
    }

    .BoxPublisher {
        padding: 1rem 1.2rem !important;
    }

    .PublisherScroll {
        height: 12.8rem !important;
        line-height: 1.45rem;
    }

    .dir-ltr .ParentTextPublisher > h4 {
        padding-right: 10px;
        letter-spacing: 0.5px;
    }

    .dir-rtl .ParentTextPublisher > h4 {
        padding-left: 10px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 376px) {
    .size {
        width: 90px !important;
        height: 90px !important;
    }
}
