.Subject{
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.10);
    height: 11rem;
}
.TextSubject{
    letter-spacing: 0.05rem;
    color: black;
}

.titleSubject{
    width: 7.2rem;
    height: 3rem;
    font-size: 1rem;
    color: #00c0c3;
}
.Subject:hover .titleSubject{
    color: white;
}
.Subject:hover .TextSubject{
    color: white;
}

.Subject:hover{
    background-color: #00c0c3 ;
}

.DivRateAndGift > div > svg > path.cls-1{
    fill: #999999;
}

.DivRateAndGift > div > svg > path.cls-2{
    fill: #00c0c3 !important;
}

.SubjectRateAndGift{
    width: 1rem;
}

.Subject:hover .DivRateAndGift > div > svg > path.cls-1 {
    fill: white;
}

.ant-rate-star-full .RatingSubject{
    background: #00c0c3 !important;
}

.Subject:hover .ant-rate-star-full .RatingSubject{
    background: white !important;
}

@supports (-webkit-line-clamp: 2) {
    .titleSubject p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: bold;
        letter-spacing: 0.06rem;
    }
}
@supports not (-webkit-line-clamp: 2) {
    .titleSubject p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        letter-spacing: 0.06rem;
    }
}