.SidebarCategory-styles{
    padding-top: 4.25rem;
    box-shadow: 0 0 .4rem rgba(0,0,0,.2);
    padding-right: 2.7rem;
    padding-left: 2.7rem;
}
.SidebarCategory-styles>div{
    margin-top: 2.3rem;
    margin-bottom: .8rem;
}
.SidebarCategory-styles .ant-menu-submenu-arrow{
    right: 0 !important;
}
.SidebarCategory-styles .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before ,
.SidebarCategory-styles .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after{
    background: #00c0c3;
}
.SidebarCategory-styles .ant-menu-item{
    padding: 0 .6rem !important;
    height: 25px !important;
    display: flex;
    align-items: center;
    line-height: 30px !important;
    text-shadow: none;
}
.SidebarCategory-styles .ant-menu-submenu-title{
    padding: 0 !important;
    height: auto !important;
    line-height: 30px !important;
}
.SidebarCategory-styles .ant-menu-inline ,.SidebarCategory-styles .ant-menu-inline .ant-menu-item::after{
    border: none !important;
}
.SidebarCategory-styles .ant-menu-item-selected,
.SidebarCategory-styles .ant-menu-submenu-open,
.SidebarCategory-styles .ant-menu-item-active ,
.SidebarCategory-styles .ant-menu-submenu-active,
.SidebarCategory-styles .ant-menu-submenu-selected,
.SidebarCategory-styles .ant-menu-submenu-title:hover{
    text-shadow: 0 0 .05rem #21c9cb;
    color: #21c9cb !important;
    background: transparent !important;
}

.SidebarCategory-styles .ant-menu-submenu-title{
    letter-spacing: .07rem;
    font-size: .76rem !important;
}
.CategorySide-title{
    font-size: .77rem;
    font-weight: bold;
    color: #21c9cb;
    letter-spacing: .07rem;
}
.SidebarCategory-styles hr{
    width: 65%;
    border-bottom: 1px solid #E2E2E2 !important;
    border-top: none;
    border-left: none;
    border-right: none;
}
.category-scroller>div:first-child{
    padding: 0 0 4rem 0;
}