.dir-ltr .Publishers .colorGaryBorder{
    margin-right: 0 !important;
}
.dir-rtl .Publishers .colorGaryBorder{
    margin-left: 0 !important;
}
.BooksPublishers > a{
    margin: 0 0.5rem !important;
}

@media(min-width: 921px){
    .dir-ltr .BooksPublishers a:nth-child(7n){
        margin-right: auto !important;
    }
    .dir-ltr .BooksPublishers a:nth-child(7n+1){
        margin-left: auto !important;
    }
    .dir-rtl .BooksPublishers a:nth-child(7n){
        margin-left: auto !important;
    }
    .dir-rtl .BooksPublishers a:nth-child(7n+1){
        margin-right: auto !important;
    }
}


@media (min-width: 921px) {
    .dir-ltr .BooksPublishers a:nth-child(7n){
        margin-right: 0 !important;
    }
    .dir-ltr .BooksPublishers a:nth-child(7n+1){
        margin-left: 0 !important;
    }
    .dir-rtl .BooksPublishers a:nth-child(7n){
        margin-left: 0 !important;
    }
    .dir-rtl .BooksPublishers a:nth-child(7n+1){
        margin-right: 0 !important;
    }
}