
.SlideParentSocial {
    height: 240px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    border-radius: 5px !important;
    background-color: white !important;
}

.SlideParentSocial .slick-list {
    height: 100%;
}

.SlideParentSocial .slick-dots {
    display: none !important;
}

.SlideParentSocial .slick-slide {
    margin: 2rem 2rem 0 2rem;
}

.SlideParentSocial .slick-list {
    width: 100% !important;
    height: 15rem !important;
    overflow: hidden;
}

.SlideParentSocial .slick-slider {
    display: flex !important;
    justify-content: space-between;
}

.SlideParentSocial .slick-track {
    height: 100% !important;
    display: flex;
}

.SlideParentSocial .slick-slide.slick-active.slick-current {
    height: 100%;
}

.SlideParentSocial .slick-slide div {
    height: 100%;
}

.SlideParentSocial .slick-arrow {
    display: flex !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: transparent !important;
    width: 3.5rem;
}
.SlideParentSocial .slick-arrow.slick-prev {
    width: 2.6rem;
}

.SlideParentSocial .slick-arrow:focus {
    outline: none !important;
}

.SlideParentSocial .slick-prev::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "<";
    background-color: #00c0c3 !important;
    color: #ffffff;
    font-size: 30px !important;
    height: 1.4rem;
    width: 1.2rem;
    min-width: 1.6rem;
    padding-top: .2rem;
    margin-right: -2rem;
    cursor: pointer;
}

.SlideParentSocial .slick-next::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: ">";
    background-color: #00c0c3 !important;
    color: #ffffff;
    font-size: 30px !important;
    height: 1.4rem;
    width: 1.2rem;
    min-width: 1.6rem;
    padding-top: .2rem;
    margin-right: -2rem;
    cursor: pointer;
}

.SlideParentSocial .slick-slide{
    width: auto!important;
}
.SlideParentSocial .slick-track>div{
    margin: 0 20px 0 20px;
}
.SlideParentSocial .slick-track{
    padding: 2rem .2rem;
}
@media (max-width: 425px) {
    .SlideParentSocial .slick-slide {
        margin: 2rem 1rem 0 0.5rem !important;
    }

    .SlideParentSocial .slick-arrow {
        display: none !important;
    }
}

