.inbox{
    padding: 1rem 3rem;
    border: 1.5px solid #35cecf;
    border-radius: 5px;
}

@media (max-width: 426px){
    .inbox{
        padding: 1rem 0.8rem !important;
        border: 1.5px solid #35cecf;
        border-radius: 5px;
    }
}
@media (min-width: 427px) and (max-width: 768px) {
    .inbox{
        padding: 1rem 3rem !important;
        border: 1.5px solid #35cecf;
        border-radius: 5px;
    }
}