.ParentMediaBox{
    margin: 0 1.54rem;
}

.ParentImageMediaBox{
    width: 10.8rem;
    height: 11rem;
    border-radius: 3px;
    overflow: hidden;
}
.ParentImageMediaBox img{
    width: 100%;
}
.TitleMediaBox{
    width: 50%;
    white-space: pre-line;
    text-align: center;
    height: 3rem;
    font-size: 0.90rem;
    letter-spacing: 0.06rem
}


@media (min-width: 992px) {
    .dir-ltr .ParentMediaBox:nth-child(5n){
        margin-right: 0;
    }
    .dir-ltr .ParentMediaBox:nth-child(1),
    .dir-ltr .ParentMediaBox:nth-child(5n + 1){
        margin-left: 0;
    }

    .dir-rtl .ParentMediaBox:nth-child(5n){
        margin-left: 0;
    }
    .dir-rtl .ParentMediaBox:nth-child(1),
    .dir-rtl .ParentMediaBox:nth-child(5n + 1){
        margin-right: 0;
    }
}