.InputMassage-About {
    background-color: #f0f0f0 !important;
}

.Inputs-About {
    background-color: #f0f0f0 !important;
    height: 2.3rem !important;
}

.InputMassage-About::placeholder {
    color: #979797 !important;
}

.Inputs-About::placeholder {
    color: #979797 !important;
}

.SendButton {
    width: 24rem !important;
    height: 2.3rem !important;
    background-color: #00c0c3 !important;
    color: #fffffd !important;
}

.SendButton.ant-btn:focus, .ant-btn:active, .ant-btn.active {
    background: #00c0c3 !important;
    color: #ffffff !important;
}

@media (min-width: 425px ) and (max-width: 992px) {
    .paddingInResponsive {
        padding: 0 1rem 0 0;
    }
    .dir-rtl .paddingInResponsive {
        padding: 0 0 0 1rem;
    }
}

@media (max-width: 992px) {
    .SendButton {
        width: 100% !important;
    }
}
