.SendButtonProfile{
    width: 9rem;
    padding: 0.6rem 1.1rem;
    background-color: #00c0c3;
    border: none;
    outline: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
.InputSubmitArticle{
    background-color: #f0f0f0;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 2rem;
}
.SubmitArticle .ant-upload.ant-upload-select-picture-card{
    width: 100% !important;
    background-color: #f0f0f0 !important;
    margin-bottom: 0px;
}
.SubmitArticle textarea{
    background-color: #f0f0f0;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 0.6rem 1rem;
    outline: none;
    height: 11.3rem;
}

@media(max-width: 992px){
    .SubmitArticle{
        width: 100%;
    }
    .SubmitArticle textarea{
        height: 8.5rem !important;
    }
}
@media (min-width: 991px) {
    .SubmitArticle{
        width: 48.3%;
    }
}