
.InputCheckBoxCheckedClass>label{
    font-size: .75rem;
    color: #1d2124;
}
.InputCheckBoxCheckedClass{
    min-width: 5rem;
}
.InputCheckBoxCheckedClass > input {
    width: .5rem;
    height: .5rem;
}
.InputCheckBoxCheckedClass > input:before {
    content: "";
    display: block;
    position: absolute;
    width: .56rem;
    height: .56rem;
    top: 0;
    left: 0;
    border: 1px solid #a3a3a3;
    border-radius: 1px;
    background-color: white;
}
.InputCheckBoxCheckedClass > input:checked:before {
    background-color: #333333;
    border: 1px solid #333333;
}
.InputCheckBoxCheckedClass > input:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border: solid #ffffffcf;
    border-width: 0 .07rem .07rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top:.04rem;
    left:3px;
}
.myList-box{
    width: 14rem;
    background: #e7e7e7;
    border-radius: 4px;
    padding: .8rem 1rem;
}
.menuMyList,
.menuMyList .ant-menu-item-active,
.menuMyList .ant-menu-item-selected{
   background: transparent !important;
    border: none!important;
    color: initial !important;
}
.menuMyList .ant-menu-item-selected:after{
    border: none!important;
}
.menuMyList ul{
   background: transparent !important;
}