.InputSearch {
    border: 1px solid #00c0c3;
    box-shadow: 0 0 1px #00c0c3;
    overflow: hidden;
    padding: .62rem 1.5rem;
}

.InputSearch > input {
    border: none !important;;
    overflow: hidden;
    outline: none !important;
    width: 80%;

}

.InputSearch > input::placeholder {
    transform: scaleY(.95);
    font-size: .92rem !important;
    color: #808080;
}

.btn-Search {
    background: #000;
    font-size: .9rem !important;
    color: #ffffffdf;
}

