.border {
    border: 1.5px solid #e1e1e1;
    border-radius: 0.5rem;
    overflow: hidden;
}

.title-AuthorOfTheWeek {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0ec3c6;
    letter-spacing: 1.5px;
}
.text-AuthorOfTheWeek {
    font-size: 15px ;
    color: #707070;
    letter-spacing: 1px;
    line-height: 1.5rem;
    overflow: hidden;
}


