.ant-popover-inner-content .ant-popover-message .ant-popover-message-title {padding-left : 0!important;padding-right: 22px}
.ant-popover-inner-content .ant-popover-message i {right : 0;}
.ant-message-notice i{margin-right: 0!important;margin-left: 8px}
.ant-card-body {padding: 15px !important}
.ant-select-dropdown {text-align: right !important;}
.ant-select-dropdown-menu {padding-inline-start:0!important;}
.ant-select-dropdown-menu li {text-align: right!important;}
.ant-select-arrow,.ant-time-picker-clear, .ant-time-picker-icon {right: initial!important;left:11px}
.ant-select-selection__placeholder {right: 0!important;left: 9px!important;text-align: right!important;}
.ant-select-selection-selected-value{float: right !important;padding-left: 20px;padding-right: 0!important;}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item{padding-right: 12px!important;}
.ant-select-selection--multiple .ant-select-selection__choice{float: right!important;padding: 0 10px 0 20px !important;}
.ant-select-selection--multiple .ant-select-selection__choice__remove{right:initial!important;left:4px}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item .ant-select-selected-icon{right:initial!important;left:12px}
.ant-select-selection--multiple .ant-select-selection__rendered{margin-left: 11px!important;margin-right: 5px!important;}
.ant-modal-close,.ant-drawer-close {right:initial!important;left:0}
.ant-input-affix-wrapper .ant-input:not(:last-child) {padding-right: 5px!important;padding-left: 30px}
.ant-input-affix-wrapper .ant-input-suffix {right: initial!important;left:12px}
.ant-upload-list.ant-upload-list-text{direction: ltr}
.ant-message,.ant-notification {z-index: 9999999999!important;}
.ant-select-dropdown {z-index: 9999!important;}
.ant-btn>.anticon+span, .ant-btn>span+.anticon {margin-right: 8px;margin-left: 0!important;}
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) .anticon:not(:last-child) {margin-right: -14px;margin-left: 0!important;}
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {padding-left: 15px!important;padding-right: 29px;margin-right: 8px;margin-left: 0!important;}
.ant-input-group-addon:first-child {border-right: 1px solid #d9d9d9!important;border-left: 0}
.ant-input-group-addon:first-child,
.ant-input-group-addon:first-child .ant-select .ant-select-selection,
.ant-input-group>.ant-input:first-child,
.ant-input-group>.ant-input:first-child .ant-select .ant-select-selection{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;;
}
.ant-input-group-addon:last-child, .ant-input-group-addon:last-child .ant-select .ant-select-selection, .ant-input-group>.ant-input:last-child, .ant-input-group>.ant-input:last-child .ant-select .ant-select-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
}
.ant-input-group-addon:last-child {
    border-left: 1px solid #d9d9d9!important;border-right: 0
}
.ant-input-group>.ant-input-affix-wrapper:not(:first-child) .ant-input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;;
}
.ant-select-selection--multiple .ant-select-search--inline {float:right!important;}
.ant-badge-status-text {margin-left:0!important;margin-right: 8px}
.ant-modal-title {text-align: right}
.scroller.suppress-H>div:nth-child(1){overflow-y:scroll!important;overflow-x:hidden!important}
.scroller.suppress-H>div:nth-child(2){display: none}
.scroller.suppress>div:nth-child(1){overflow:hidden!important}
.scroller.suppress>div:nth-child(2),.scroller.suppress>div:nth-child(3){display: none}