/*@font-face {*/
/*    font-family: Sahel;*/
/*    src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot');*/
/*    src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot?#iefix') format('embedded-opentype'),*/
/*    url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.woff') format('woff'),*/
/*    url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: Yekan;*/
/*    src: url('http://fonts.codearena.ir/b/yekan/yekan.eot');*/
/*    src: url('http://fonts.codearena.ir/b/yekan/yekan.eot?#iefix') format('embedded-opentype'),*/
/*    url('http://fonts.codearena.ir/b/yekan/yekan.woff') format('woff'),*/
/*    url('http://fonts.codearena.ir/b/yekan/yekan.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*}*/
@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/yekan/Yekan Bakh EN 02 Thin.eot?v=110");
    src: url("../fonts/yekan/Yekan Bakh EN 02 Thin.woff?v=110") format("woff"), url("../fonts/yekan/Yekan Bakh EN 02 Thin.ttf?v=110") format("truetype")
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/yekan/Yekan Bakh EN 04 Regular.eot?v=110");
    src: url("../fonts/yekan/Yekan Bakh EN 04 Regular.woff?v=110") format("woff"), url("../fonts/yekan/Yekan Bakh EN 04 Regular.ttf?v=110") format("truetype")
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/yekan/Yekan Bakh EN 05 Medium.eot?v=110");
    src: url("../fonts/yekan/Yekan Bakh EN 05 Medium.woff?v=110") format("woff"), url("../fonts/yekan/Yekan Bakh EN 05 Medium.ttf?v=110") format("truetype")
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/yekan/Yekan Bakh EN 06 Bold.eot?v=110");
    src: url("../fonts/yekan/Yekan Bakh EN 06 Bold.woff?v=110") format("woff"), url("../fonts/yekan/Yekan Bakh EN 06 Bold.ttf?v=110") format("truetype")
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/yekan/Yekan Bakh EN 08 Fat.eot?v=110");
    src: url("../fonts/yekan/Yekan Bakh EN 08 Fat.woff?v=110") format("woff"), url("../fonts/yekan/Yekan Bakh EN 08 Fat.ttf?v=110") format("truetype")
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/yekan/Yekan Bakh EN 07 Heavy.eot?v=110");
    src: url("../fonts/yekan/Yekan Bakh EN 07 Heavy.woff?v=110") format("woff"), url("../fonts/yekan/Yekan Bakh EN 07 Heavy.ttf?v=110") format("truetype")
}


/* latin */
@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(../fonts/didactgothic/didactgothic-reqular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    font-family: Yekan !Important;
}
body {
    margin: 0 !important;
    width: 100vw !important;
}

html {
    overflow: hidden;
}

.After-Before-None:after, .After-Before-None:before {
    content: none !important;
}

.ant-popover {
    position: relative;
}

.ant-popover > div {
    position: absolute;
    top: -2rem;
    bottom: 0;
}

.menu-category-trigger {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #00c0c3;
    z-index: 3
}
.menu-category-trigger.menu-opened{
    top: 8rem;
}
.menu-category-trigger.menu-collapsed{
    top : 4.5rem;
}
.ltr-category.menu-category-trigger{
    left: 3.5rem;
    transition: left 0.3s, top 0.1s;
}
.ltr-category.menu-category-trigger.menu-collapsed{
    left: 18.5rem;
    transition: left 0.2s ease 0.1s, top 0.1s ease 0.1s;
}
.dir-rtl .rem{
    padding-right: 27rem !important;
}
.dir-ltr .rem{
    padding-left: 27rem !important;
}
.rtl-category.menu-category-trigger{
    right: 3.5rem;
    transition: right 0.3s, top 0.1s;
}
.rtl-category.menu-category-trigger.menu-collapsed{
    right: 18.5rem;
    transition: right 0.2s ease 0.1s, top 0.1s ease 0.1s;
}

.w-95 {
    width: 95%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-black {
    color: #000;
}

.LinkedObject .text-black{
    color: #0000aa !important;
}

.D-letter {
    letter-spacing: 1px;
}

.w-auto {
    width: auto !important;
}

.w-85 {
    width: 85%;
}

.w-65 {
    width: 65%;
}

.m-h-18 {
    min-height: 18rem !important;
}

.m-h-12 {
    min-height: 12rem !important;
}

.mt-10rem {
    margin-top: 20rem !important;
}

.GaryBorder {
    border: 1px solid #e0e0e0;
}

.App-scroller {
    width: 100vw !important;
}

.App-scroller > div:first-child {
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.dir-rtl .App-scroller > div:first-child {
    margin-right: 0 !important;
    margin-left: -17px !important;
}

.spin{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.dir-rtl .ant-menu-submenu-arrow {
    right: auto !important;
    left: 0 ;
}

.dir-rtl .category-scroller > div:first-child {
    margin-right: 0 !important;
    margin-left: -17px !important;
}

.dir-rtl .rtl-scroll-Control > div:first-child {
    margin-right: 0 !important;
    margin-left: -17px !important;
}

.scroller > div:first-child {
    overflow-x: hidden !important;
}

.text-white {
    color: #ffffff !important;
}

.cursor-p {
    cursor: pointer !important;
}

.Breadcrumb {
    margin-top: 4.25rem !important;
    color: #808080;
    font-size: 0.80rem !important;
    text-shadow: 0 0 1px #80808015;
}

.dir-ltr .font-F-Gothic {
    font-family: Century Gothic !important;
}

.dir-rtl .font-F-Gothic {
    font-family: Yekan, serif !important;
}

.dir-ltr {
    direction: ltr !important;
}

.dir-rtl {
    direction: rtl !important;
}

.mt-4-5 {
    margin-top: 2rem;
}

.mr-4-5 {
    margin-right: 2rem;
}

.mr-4-5 {
    margin-right: 2rem;
}

.ml-4-5 {
    margin-left: 2rem;
}

.More {
    width: 6rem !important;
    border-radius: 30px !important;
    background-color: #00c0c3 !important;
    height: 3rem !important;
    color: white !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    letter-spacing: 1.5px !important;
    font-weight: 600 !important;
}

.dir-rtl .AllButtonWidth {
    padding: 0 10rem 0 0 !important;
    width: 75rem !important;
}

@media (max-width: 426px) {

    .dir-ltr .App-scroller > div:first-child {
        margin-right: 0 !important;
    }

    .dir-ltr .category-scroller > div:first-child {
        margin-right: 0 !important;
    }

    .dir-rtl .App-scroller > div:first-child {
        margin-left: 0 !important;
    }

    .dir-rtl .category-scroller > div:first-child {
        margin-left: 0 !important;
    }

    .dir-ltr .ParentLanguages Button:nth-of-type(1),
    .dir-ltr .ParentLanguages Button:nth-of-type(3n + 1) {
        margin-left: 0 !important;
    }

    .dir-ltr .ParentLanguages Button:nth-of-type(3n) {
        margin-right: 0 !important;
    }

    .dir-rtl .ParentLanguages Button:nth-of-type(1),
    .dir-rtl .ParentLanguages Button:nth-of-type(3n + 1) {
        margin-right: 0 !important;
    }

    .dir-rtl .ParentLanguages Button:nth-of-type(3n) {
        margin-left: 0 !important;
    }

    .Language-Languages {
        width: 30% !important;
        border-radius: 6px !important;
        height: 2.3rem !important;
        margin: 0.85rem 0.40rem !important;
        background-color: #e8e8e8 !important;
        font-family: Century Gothic !important;
        border: none !important;
    }

    .Language-Languages:hover {
        width: 30% !important;
    }

    .ParentSearchLanguage {
        width: 85% !important;
    }


    .titleFooterLogo {
        color: #757575;
        font-size: 0.7rem;
    }

    .VirtualIconFooter {
        width: 1.6rem !important;
    }

    .constructor {
        font-size: 0.7rem;
    }

    .MoreTop {
        color: #16c3c7 !important;
    }

    .BorderXs {
        border: 1.5px solid #f3f3f3;
        border-radius: 5px;
    }

    .More-button {
        width: 4rem;
    }

    .title-Article {
        font-size: 0.8rem !important;
    }

    .label-Article {
        font-size: 0.7rem !important;
    }

    .Article {
        width: 100% !important;
    }

    .title-AuthorOfTheWeek {
        font-size: 1.2rem !important;
    }

    .Author-BookOfTheWeek {
        font-size: 13.5px;
        color: #666666d9;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (min-width: 427px) and (max-width: 768px) {
    .dir-rtl .App-scroller > div:first-child {
        margin-left: 0 !important;
    }

    .dir-rtl .category-scroller > div:first-child {
        margin-left: 0 !important;
    }

    .LeftLanguage .ant-col:nth-child(2) {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }

    .RightLanguage .ant-col:nth-child(2) {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }

    .dir-ltr .ParentLanguages Button:nth-of-type(1),
    .dir-ltr .ParentLanguages Button:nth-of-type(5n + 1) {
        margin-left: 0 !important;
    }

    .dir-ltr .ParentLanguages Button:nth-of-type(5n) {
        margin-right: 0 !important;
    }

    .dir-rtl .ParentLanguages Button:nth-of-type(1),
    .dir-rtl .ParentLanguages Button:nth-of-type(5n + 1) {
        margin-right: 0 !important;
    }

    .dir-rtl .ParentLanguages Button:nth-of-type(5n) {
        margin-left: 0 !important;
    }

    .dir-ltr .ParentLanguages Button:nth-of-type(1),
    .dir-ltr .ParentLanguages Button:nth-of-type(7n + 1) {
        margin-left: 0.05rem !important;
    }

    .dir-ltr .ParentLanguages Button:nth-of-type(7n) {
        margin-right: 0.80rem !important;
    }

    .dir-rtl .ParentLanguages Button:nth-of-type(1),
    .dir-rtl .ParentLanguages Button:nth-of-type(7n + 1) {
        margin-right: 0.05rem !important;
    }

    .dir-rtl .ParentLanguages Button:nth-of-type(7n) {
        margin-left: 0.80rem !important;
    }

    .dir-ltr .ParentLanguages Button:last-child {
        margin-right: 0 !important;
    }

    .dir-rtl .ParentLanguages Button:last-child {
        margin-left: 0 !important;
    }

    .Language-Languages {
        width: 18% !important;
        border-radius: 6px !important;
        height: 2.3rem !important;
        margin: 0.85rem 0.40rem !important;
        background-color: #e8e8e8 !important;
        font-family: Century Gothic !important;
        border: none !important;
    }

    .ParentSearchLanguage {
        width: 57% !important;
    }
}

.position-media-Change {
    position: relative;
}

@media (max-width: 992px) {
    .m-h-12 {
        min-height: 6.6rem !important;
    }

    .ltr-category.menu-category-trigger.menu-collapsed{
        left: 18.5rem;
    }
    .rtl-category.menu-category-trigger.menu-collapsed{
        right: 18.5rem;
    }

    .ltr-category.menu-category-trigger.menu-opened{
        left: .5rem;
    }
    .rtl-category.menu-category-trigger.menu-opened{
        right: .5rem;
    }

    .padding-app-parent {
        padding: 0 1rem;
    }

    .cat-change-pos {
        padding: 0 1rem
    }

    .position-media-Change {
        position: absolute;
    }
}

@media (min-width: 992px) {
    .InputSearch {
        width: 44%;
    }

    .ParentSearchLanguage {
        width: 52% !important;
    }

    .Header {
        padding: 0 9.5rem;
    }

    .opacity-0 {
        opacity: 0 !important;
    }

    .cat-change-pos, .App-scroller .Color-bg {
        padding: 0 9.5rem
    }

    .padding-app-parent, .App-scroller.App-scroller-smaller .Color-bg {
        padding: 0 5.2rem
    }
}
