.ResourceStatisticsTitle{
    font-size: 0.85rem;
    color: #4bd2d4 ;
    font-weight: 500;
    margin: 0px;
    font-family: Century Gothic !important;
    letter-spacing: 0.1rem;
}
.ResourceStatisticsNumber{
    font-size: 0.85rem;
    color: #317e81;
    font-weight: 400;
    font-family: Century Gothic !important;
    letter-spacing: 0.1rem;
}
.MidLine{
    margin-top: 1.8px;
    margin-bottom: 1.8px;
    border-top: 2px solid #bcbcbc;
}

@media (min-width: 427px) and (max-width: 768px) {

    .ResourceStatisticsTitle {
        font-size: 0.75rem;
        color: #4bd2d4;
        font-weight: 500;
        margin: 0px;
        font-family: Century Gothic !important;
        letter-spacing: 0.03rem;
    }
    .ResourceStatisticsNumber{
        font-size: 0.75rem;
        color: #317e81;
        font-weight: 400;
        font-family: Century Gothic !important;
        letter-spacing: 0.03rem;
    }

}