.title-Location {
    color: #00c0c3;
    font-size: 1.29rem;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}

.textIcon-Location {
    color: #7a7a7a;
    font-size: 14px;
}

.DownIcons > div {
    margin: 0 0.7rem;
    fill: #a1a1a1;
}

.DownIcons > div > svg > path {
    fill: #a1a1a1;
}

.ColumnIcons > div > svg > path {
    fill: #a1a1a1;
}

.dir-ltr .DownIcons > div:first-of-type {
    margin-left: 0;
}

.dir-rtl .DownIcons > div:first-of-type {
    margin-right: 0;
}

.DivParentMap > div {
    width: 81% !important;
    height: 81% !important;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.3)
}

.DivParentMap > div > div > div {
    width: 100% !important;
}

.pigeon-attribution {
    display: none;
}

@media (max-width: 991px) {
    .DivParentMap {

    }
}

@media (min-width: 992px) {
    .DivParentMap {
        height: 21rem;
    }
}