.BooksCategory > a{
    margin: 1rem 0.5rem !important;
}

.dir-ltr .categoryTabSection .colorGaryBorder{
    margin-right: 0 !important;
}
.dir-rtl .categoryTabSection .colorGaryBorder{
    margin-left: 0 !important;
}

@media (max-width: 921px){
    .dir-ltr .BooksCategory a:nth-child(7n){
        margin-right: 0.5rem !important;
    }
    .dir-ltr .BooksCategory a:nth-child(7n+1){
        margin-left: 0.5rem !important;
    }

    .dir-rtl .BooksCategory a:nth-child(7n+1){
        margin-right: 0.5rem !important;
    }
    .dir-rtl .BooksCategory a:nth-child(7n){
        margin-left: 0.5rem !important;
    }
}
@media (min-width: 922px) {
    .dir-ltr .BooksCategory a:nth-child(7n){
        margin-right: 0 !important;
    }
    .dir-ltr .BooksCategory a:nth-child(7n+1){
        margin-left: 0 !important;
    }

    .dir-rtl .BooksCategory a:nth-child(7n+1){
        margin-right: 0 !important;
    }
    .dir-rtl .BooksCategory a:nth-child(7n){
        margin-left: 0 !important;
    }
    .dir-ltr .categoryTabSection .colorGaryBorder{
        margin-right: 0 !important;
    }
    .dir-rtl .categoryTabSection .colorGaryBorder{
        margin-left: 0 !important;
    }
}