.dir-ltr .ParentBook > div > div:first-child > div:first-child{
    margin-left: 0 !important;
}
.dir-ltr .ParentBook > div > div:last-child > div:last-child{
    margin-right: 0 !important;
}

.dir-rtl .ParentBook > div > div:first-child > div:first-child{
    margin-right: 0 !important;
}
.dir-rtl .ParentBook > div > div:last-child > div:last-child{
    margin-left: 0 !important;
}

.ScrollBooks > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden !important;
    max-width: 100%;
}
.dir-rtl .ScrollBooks > div:first-child{
    margin-right: 0 !important;
    margin-left: -17px;
}
.dir-ltr .ScrollBooks > div:first-child{
    margin-right: -17px;
    margin-left: 0 !important;
}
.dir-rtl .Scrollbars-Suppress-vertical > div:nth-of-type(3){
    display: none !important;
}
.ScrollBooks{
    height: 16rem !important;
}
