.width-Article {
    width: 50%;
}

.title-Article {
    font-size: 1rem;
    font-weight: revert;
    color: #010101;
}

.label-Article {
    color: #808080;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.points-Article {
    background-color: #eec932;
    color: #fcfcfcd9;
    font-size: 13px;
    width: 2rem;
    height: 1rem;
    border-radius: 0.25rem;
    text-align: center;
}

.count-Article {
    font-size: 11px;
    color: #808080;
}
.Article{
    width: 48%;
    display: flex;
    justify-content: center;
}
