.Search-Filter-Menu{
    height: 100vh;
    width: 18.75rem;
    position: fixed;
    background: #f2f2f2;
    transition: .5s;
    top:0;
    z-index: 9;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
.dir-rtl .Search-Filter-Menu{
    height: 100vh;
    width: 18.75rem;
    position: fixed;
    background: #f2f2f2;
    transition: .5s;
    top:0;
    z-index: 9;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.filter-title{
    font-size: 1.15rem;
    font-weight: bold;
    color: #00c0c3;
    letter-spacing: 2px;
}

.backFilterClick{
    background: #000000;
    z-index: 8;
    height: 100vh;
    top: 0 ;
    left:0;
    transition:.35s;

}

.hr-Filter{
    width: 70%;
    border: 1px solid #e9e9e9 !important;
}

.SliderRangeFilterYear{
    display: flex;
    align-items: center;
}

.SliderRangeFilterYear .ant-slider-handle{
    border: none !important;
    background:#00c0c3 !important;
    width: 10px;
    height: 10px;
    margin-top: 0 !important;
}

.SliderRangeFilterYear .ant-slider-track ,
.SliderRangeFilterYear .ant-slider-rail,
.SliderRangeFilterYear .ant-slider-step{
    height: 1px;
}

.arrow-filters{
    width: 1rem;
    cursor: pointer;
}
.arrow-filters path{
 fill:#333
}
.arrow-filters svg{
    display: flex;
    align-self: center;
    width: 25%;
}
.arrow-filters:hover path{
    fill:#00c0c3
}

.right-scrollFilter>div:last-child{
    display: none;
}

.dir-rtl .number-year-parent{
    flex-direction: row-reverse;
}
.dir-rtl .number-year-parent>div{
    flex-direction: row-reverse;
    margin: 0 !important;
}