
.BorderOptionSound{
    background-color: white;
    border: 2px solid rgba(0,0,0,0.7);
    width: 20.5rem;
    border-radius: 0 8px 8px 8px;
}
.ListSound{
    width: 37.6rem;
    z-index: 0;
}
.dir-rtl .ListSound{
    margin-right: -2px;
}
.dir-ltr .ListSound{
    margin-left: -2px;
}
.DivParentList{
    width: 35.5rem;
}
.ParentPlayer{
    border: 2px solid rgba(0,0,0,0.7);
    background-color: white;
}
.dir-rtl .ParentPlayer{
    border-radius: 8px 0 0 8px;
}
.dir-ltr .ParentPlayer{
    border-radius: 0 8px 8px 0;
}
.ParentPlayer{
    border-right: none;
}
.dir-rtl .ParentPlayer .react-h5-audio-player div{
    box-shadow: none !important;
}