.color-Header-responsive {
    color: #37cdcf;
    font-size: 1.6rem !important;
}

.BookInfoInformation {
    border-radius: .7rem;
    overflow: hidden;
    border-color: #e5e5e5;
}

.BookInfoInformation .ant-rate {
    display: flex;
    align-items: center;
}

.InformationBookInfo h3 {
    font-size: 1.2rem;
}

.font-color-Information-text {
    color: #4d4d4d !important;
    font-size: .77rem;
}

.RatingIslamicSources:before {
    content: "";
    width: 2rem;
    height: 2rem;
    background: #5a6268;
}

.RatingIslamicSources:after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: #5a6268;
    transform: rotate(45deg);
}


.btn-Book-study {
    background: #00c0c3;
    font-size: .75rem !important;
    color: #ffffffdf;
    width: 6rem;
}

.Introduction-text-book h2 {
    font-size: 1.5rem;
}

.Introduction-text-book p {
    font-size: .9rem;
    letter-spacing: 1px;
    color: #000;
    word-spacing: 2px;
}

.Introduction-text-book {
    min-height: 15rem;
}

.dir-rtl .ant-rate-star {
    margin-right: 8px !important;
}

@media (max-width: 992px) {
    .font-color-Information-text {
        font-size: 1.2rem;
    }
    .parentValuesToShow{
        height: auto;
    }
}

@media (max-width: 575px) {
    .BookInfoInformation {
        flex-direction: column;
        justify-content: center !important;
    }
}

@media (min-width: 992px) {
    .InformationBookInfo {
        padding: 3.2rem 1.9rem !important;;
    }
    .parentValuesToShow{
        height: 10.3rem;
    }
}