.LeftLanguage .ant-col:nth-child(2) {
    margin-right: 43px;
    margin-left: 43px;
}

.RightLanguage .ant-col:nth-child(2) {
    margin-right: 43px;
    margin-left: 43px;
}

.VirtualIcon {
    width: 1.4rem;
    height: 1.4rem;
}

.VirtualIcon svg {
    width: 100%;
    height: 100%;
}

.VirtualIcon path {
    fill: #a8a8a8;
}

.SubLogo {
    font-size: 0.72rem;
    color: #b0b0b0;
    letter-spacing: 0.04rem;
    font-family: Century Gothic !important;
    line-height: 1.1rem;
}

.Language-Languages {
    width: 11.5%;
    border-radius: 6px;
    height: 2.3rem;
    margin: 1.1rem 0.75rem;
    background-color: #e8e8e8;
    font-family: Century Gothic !important;
    border: none;
}

.Language-Languages:hover {
    width: 11.5% !important;
    background-color: #ff9801 !important;
    font-family: Century Gothic !important;
    border: none !important;
    color: white !important;
}

.Language-Languages .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    text-decoration: none !important;
    background: #ff9801 !important;
    color: white !important;
}

.dir-ltr .ParentLanguages Button:nth-of-type(1),
.dir-ltr .ParentLanguages Button:nth-of-type(7n + 1) {
    margin-left: 0;
}

.dir-ltr .ParentLanguages Button:nth-of-type(7n) {
    margin-right: 0;
}

.dir-rtl .ParentLanguages Button:nth-of-type(1),
.dir-rtl .ParentLanguages Button:nth-of-type(7n + 1) {
    margin-right: 0;
}

.dir-rtl .ParentLanguages Button:nth-of-type(7n) {
    margin-left: 0;
}
