.TitleOnPicture {
    background-color: #e6e6e5;
    height: 2.4rem;
    bottom: 0 !important;
    opacity: 0.9;
    font-size: 1.45rem;
    color: #747474;
    letter-spacing: 1px;
    border-radius: 0 0 0.5rem 0.5rem !important;
}

.parentImage {
    position: relative !important;
    max-height: 13.25rem;
    overflow: hidden;
}

@media (max-width: 992px) {
    .parentImage,.parentImage > a {
        max-height: 10rem !important;
    }
}