.IconCloseBackG {
    width: 3.25rem;
    height: 2rem;
    background-color: #e7e7e7;
    border-radius: 0.25rem;
}

.IconCloseBackG i {
    color: #8f8f8f !important;
    font-size: 1.1rem !important;
}



