.title-BookCollection {
    font-size: 1.35rem;
    font-weight: bold;
    color: #00c1c3;
    letter-spacing: 1px;
    white-space: nowrap;
}

.title-BookCollection.bordered-box {
    top: -130%;
    background: white;
    padding: 0 1rem;
    text-align: center;
}

.button-BookCollection {
    width: auto;
    color: #7f7f7f !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 0.90rem;
    letter-spacing: 1px;
}

.button-BookCollection:hover {
    background-color: #e0e0e0 !important;
    color: #818181 !important;
    font-weight: bold;
}

.button-BookCollection.ant-btn:focus, .ant-btn:active {
    background-color: #e0e0e0 !important;
    color: #818181 !important;
    font-weight: bold;
}

.colorGaryBorder {
    border-bottom: 1px solid #ddd1d1 !important;
    width: 100%;
    height: 2px;
    margin: 0 1rem
}
.colorGaryBorderInMedia{
    width: 100%;
    border-bottom: 2px solid #ddd1d1 !important;
    height: 2px;
    margin: 0 1.4rem
}
.More-button {
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
    color: #333333 !important;
    font-size: 1.05rem !important;
    letter-spacing: 1px;
}

.More-button:hover {
    color: #00c1c3 !important;
    background-color: transparent !important;
}

.selected-tab-button {
    color: #808080 !important;
    background-color: #e8e8e8 !important;
}

.IconSubject:hover {
    background-color: #00c1c3;
    color: white;
}

.DivParentIcon {
    width: 6.3rem;
}

.ExceptTitle {
    width: 100%;
}

@media (max-width: 991px) {
    .DivParentCategoryIcon {
        width: 100%;
    }

    .IconSubject {
        background-color: #e7e7e7;
        color: black;
        width: 47%;
        height: 2.2rem;
        outline: none;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.DivParentIcon {
    width: 6.3rem;
}

.AllButtonWidth {
    padding: 0 0 0 10rem !important;
    width: 75rem !important;
}

@media (min-width: 992px) {
    .tabSection-parent {
        flex-wrap: nowrap !important;
    }

    .DivParentCategoryIcon {
        width: 9.4rem;
    }

    .IconSubject {
        background-color: #e7e7e7;
        color: black;
        width: 2.1rem;
        height: 2.2rem;
        outline: none;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .AllButtonWidth {
        margin: 0 2rem !important;
        width: 25rem !important;
        height: 8rem;
        flex-wrap: wrap !important;
        align-items: center;
    }
}