.BtxFormControl-Rtl {
    direction: rtl;
    text-align: right;
}

.BtxFormControl-Rtl .BtxInputLabel-formControl {
    right: 0;
    left: initial !important;
}

.BtxFormControl-Rtl .BtxInputLabel-root {
    transform-origin: top right !important;
}

.BtxFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

label + .BtxInput-formControl {
    margin-top: 16px;
}

.BtxInput-root {
    position: relative;
}

.BtxInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    line-height: 1.1875em;
}

.BtxInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.BtxInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #02bfc3;
    pointer-events: none;
}

.BtxInput-underline.Btx-focused:after {
    transform: scaleX(1);
}

.BtxInputBase-input {
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1875em;
    margin: 0;
    display: block;
    padding: 4px 0 2px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: BtxInputBase-keyframes-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
}

.BtxInputBase-input:focus {
    outline: 0;
}

.BtxFormControl-marginNormal {
    margin-top: 8px;
    margin-bottom: 8px;
}

.BtxInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.BtxInputLabel-root {
    display: block;
    transform-origin: top left;
}

.BtxFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}

.BtxInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.BtxFormLabel-root.Btx-focused {
    color: #02bfc3;
}

.BtxInputBase-inputTypeSearch {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.BtxInputLabel-shrink {
    transform: translate(0, 2px) scale(0.75);
}
