.FormEditPassword-Input {
    background-color: #e7e5e5 !important;
}

.FormEditPassword-Input::placeholder {
    color: #959595 !important;
}

.EditButton {
    background-color: #00c0c3;
    border-radius: 30px;
    width: fit-content;
    padding: 0.3rem 1rem;
    border: none;
    outline: none;
    color: white;
    font-size: 0.78rem;
}

.UpdateButton {
    background-color: #ff9801;
    border-radius: 30px;
    width: fit-content;
    padding: 0.3rem 1rem;
    border: none;
    outline: none;
    color: white;
    font-size: 0.78rem;
}

.BlueTextProfile {
    color: #00c0c3;
    font-weight: bold;
    white-space: nowrap;
    margin: 0px !important;
    display: flex;
    align-items: center;
}

.InformationProfile h4 {
    font-size: 0.96rem;
    letter-spacing: 0.03rem;
    display: flex;
    align-items: center;
}

.InputsProfile {
    max-width: 100%;
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 0.22rem 1rem;
    font-size: 0.85rem;
    border-radius: 4px;
    height: fit-content;
}

.InformationProfile input[type="radio"] {
    width: 1.3em;
    height: 1.3em;
}

.MoreInfoProfile {
    color: #00c0c3;
    text-align: end;
    cursor: pointer;
}

.AvatarProfile > div {
    border-radius: 50% !important;
    margin: 0!important;
    overflow: hidden;
    width: 165px !important;
    height: 165px !important;
}

.AvatarProfile > div > span {
    padding: 0!important;
}
span.AvatarProfile {
    display: flex!important;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .ProfileBox {
        border-radius: 5px;
        border: 1.5px solid #e2e2e2;
        padding: 1.5rem 1.5rem;
    }

    .Row {
        height: auto;
    }
}

@media (min-width: 992px) {

    .ProfileBox {
        border-radius: 5px;
        border: 1.5px solid #e2e2e2;
        padding: 2.3rem 0rem;
    }

    .Row {
        height: 1.7rem;
        margin-bottom: 1rem;
    }
}