.color-Header-responsive {
    color: #37cdcf;
    font-size: 1.6rem !important;
}

.BookInfoInformation {
    border-radius: .7rem;
    overflow: hidden;
    border-color: #e5e5e5;
}

.BookInfoInformation .ant-rate {
    display: flex;
    align-items: center;
}

.InformationBookInfo h3 {
    font-size: 1.2rem;
}

.font-color-Information-text {
    color: #4d4d4d !important;
    font-size: .77rem;
}

.RatingIslamicSources:before {
    content: "";
    width: 2rem;
    height: 2rem;
    background: #5a6268;
}

.RatingIslamicSources:after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: #5a6268;
    transform: rotate(45deg);
}

.ant-rate-star-full .RatingIslamicSources {
    background: #eec932 !important;
}

.btn-Book-study {
    background: #00c0c3;
    font-size: .75rem !important;
    color: #ffffffdf;
    width: 6rem;
}

.btn-Book-study:hover {
    color: #ffffffdf;
}

.Introduction-text-book h2 {
    font-size: 1.5rem;
}

.Introduction-text-book p {
    font-size: .9rem;
    letter-spacing: 1px;
    color: #000;
    word-spacing: 2px;
}

.Introduction-text-book {
    min-height: 15rem;
}

.dir-rtl .ant-rate-star {
    margin-right: 8px !important;
}

@media (max-width: 992px) {
    .font-color-Information-text {
        font-size: 1.2rem;
    }

    .ParentValueToShow {
        width: 100% !important;
        height: auto;
    }

    .ShareIcon svg {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.35)
    }

}

@media (max-width: 575px) {
    .BookInfoInformation {
        flex-direction: column;
        justify-content: center !important;
    }

    .InformationItemTitle {
        white-space: nowrap;
    }

    .InformationItemValue {
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .font-color-Information-text {
        font-size: 0.65rem !important;
    }

    .LinkedObject {
        width: 100%;
    }

    .btn-Book-studyInResponsive {
        background: #00c0c3;
        font-size: 1rem !important;
        color: #ffffff;
        width: 9.5rem;
        height: 2rem;
    }

    .btn-Book-studyInResponsive a {
        color: white;
    }

    .ant-spin-container.ant-spin-blur > .ant-rate > .ant-rate-star.ant-rate-star-zero > div > .ant-rate-star-second > div > div {
        background: #eec932 !important;
    }
}

@media (min-width: 992px) {
    .InformationBookInfo {
        padding: 3.2rem 1.9rem !important;;
    }

    .ParentValueToShow {
        width: 100% !important;
        height: 8.3rem;
    }

    .btn-Book-studyInResponsive {
        background: #00c0c3;
        font-size: 1.2rem !important;
        color: #ffffff;
        width: 22rem;
        height: 3.5rem;
    }

    .ShareIcon svg {
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.35)
    }
}